@import "tailwindcss";
@import "./tokens/tailwind/tokens.css";
@import "tw-animate-css";

#root {
  width: auto;
  height: 100vh;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fabriga";
  src: url("/fonts/Fabriga-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

